version: "3.8"
services:
  api:
    build: .
    container_name: avialex_api
    ports:
      - "8080:8080"

    env_file:
      - .env

    depends_on:
      - postgres

  postgres:
    image: postgres:15
    container_name: avialex_db
    environment:
      POSTGRES_DB: avialex_bd
      POSTGRES_USER: avialex_user
      POSTGRES_PASSWORD: avialex_password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      -
volumes:
  postgres_data:

